<div class="content">
    <div class="board">
        <div class="time" *ngIf="difficulty>1">
            <div class="messages">
                <div *ngIf="startedGame" class="timer">
                    <span>Tiempo:</span> {{timer}}
                </div>
                <div *ngIf="startedGame || gameOver" class="timer">
                    <span>Errores:</span> {{mistakes}}
                </div>
            </div>

            <div [class.time-bar]="startedGame" style="--duration: {{time}};" data-style="smooth">
                <div class="bar"></div>
            </div>
        </div>
        <div class="element-container">
            
            
            <div class="element" *ngFor="let card of cards; index as i">
                <div (click)="openCard(i)" [ngClass]="flippedCards[i]!=0 ? 'color'+getIndexIcon(card) : ''" [class.active]="flippedCards[i]!=0" class="card">
                    <i [ngClass]="flippedCards[i]!=0 ? cards[i] : ''" *ngIf="flippedCards[i]" class='bx'></i>
                </div>
            </div>            
            
        </div>   

        <div *ngIf="showBigButton && !gameOver" class="float-btn play-button">            
            <div class="message">
                Dificultad: 
                <span *ngIf="difficulty!=2 && difficulty!=3">Fácil</span>
                <span *ngIf="difficulty==2">Normal</span>
                <span *ngIf="difficulty==3">Dificil</span>
                <br>
                Da clic en el botón para comenzar
            </div>
            <i (click)="startGame()" class='bx bx-play'></i>
        </div>
        
        <div *ngIf="gameOver" class="float-btn restart-button">
            <div class="message">
                ¡Se te acabó el tiempo!
            </div>
            <i (click)="restartGame()" class='bx bx-revision'></i>
        </div>
        
        <div *ngIf="victory" class="float-btn restart-button">
            <div class="message">
                ¡Ganaste!
            </div>
            <i (click)="restartGame()" class='bx bx-revision'></i>
        </div>
    </div>

</div>
